<app-feedback-info-point [messages]="messages">
</app-feedback-info-point>

<div class="lista_esercizi" *ngIf="exerciseResponse">
  <div class="buttons">
    <a [routerLink]="newExerciseLink" class="def_button" *ngIf="isAddingPermitted"><i class="fa-solid fa-plus"></i> Aggiungi</a>
    <a [routerLink]="goToStore" class="def_button" *ngIf="isAddingPermitted"><i class="fa-solid fa-store"></i> Vai allo store</a>
  </div>

  <app-exercise-card
    *ngFor="let exercise of exerciseResponse.content; trackBy: trackByExerciseResponse"
    [exercise]="exercise"
    [OrderedInput]="isListForInput"
    (delete)="deleteExercise($event)"
    (edit)="editExercise($event)"
    (addExerciseToTraining)="addExerciseToTrainingHandler($event)"
  ></app-exercise-card>
</div>

<div class="card flex justify-content-center paginatorContainer">
  <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="totalRecords" 
      [rowsPerPageOptions]="[10, 20, 30]" />
</div>


<div class="background" aria-hidden="true"></div> <!-- NOTE: Qualcuno potrebbe essere poco contento-->
