<div class="container-fluid card login-container">
  <h3 class="text-center">Login</h3>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="login" class="form-label">Nome utente</label>
      <input  formControlName="username"  type="text" class="form-control" id="login" placeholder="Nome utente">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </form>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="login()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Accedi</em>
    </button>
    <div>
      Non possiedi un account?&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        Registrati
      </button>
    </div>
  </div>
</div>
