<section class="homeSection">
  <div class="homePicture">
    <img src="../../assets/images/home/homePhoto.png" class="fullCover">
  </div>
  <div class="homeInfo">
    <div class="container-fluid card register-container">
      <h3 class="display-5">Login</h3>
      <app-feedback-info-point [messages]="messages">
      </app-feedback-info-point>
      <form [formGroup]="loginForm">
        <p-floatLabel>
          <input pInputText id="username" formControlName="username" [style]="{'width': '250px'}" />
          <label for="username">Username</label>
        </p-floatLabel>
        <p-floatLabel>
          <p-password formControlName="password" [feedback]="false" [style]="{'width': '250px'}" />
          <label for="password">Password</label>
        </p-floatLabel>
      </form>
      <div class="flex">
        <div>
          <button (click)="login()" type="button" class="def_button">
            <em class="fas fa-sign-in-alt"></em> login
          </button>
        </div>
        <div>
          Non possiedi un account?&nbsp;
          <button (click)="register()" type="button" class="btn btn-link">
            Registrati
          </button>
        </div>
      </div>
    </div>
  </div>
</section>