<app-feedback-info-point [messages]="messages">
</app-feedback-info-point>
<a [routerLink]="newPeriodsLink" class="def_button" *ngIf="isAddingPermitted"><i class="fa-solid fa-plus"></i>
    Aggiungi</a>
<div class="row" *ngIf="(periodsResponse$ | async) as periodsListResponse">
    <app-period-card *ngFor="let periodo of periodsListResponse.content; trackBy: trackByPeriodoResponse"
     [periodo]="periodo"
     (delete)="deletePeriod($event)"
     (edit)="editPeriod($event)"
     (openDetail)="openDetails($event)">
    </app-period-card>
</div>

<div class="card flex justify-content-center paginatorContainer">
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="totalRecords" 
        [rowsPerPageOptions]="[10, 20, 30]" />
  </div>
<div class="background" aria-hidden="true"></div> <!-- NOTE: Qualcuno potrebbe essere poco contento-->