<div class="notification_list">
    <app-feedback-info-point [level]="level" *ngIf="messages.length > 0">
        <p *ngFor="let message of messages">{{message}}</p>
      </app-feedback-info-point>
    <ng-container   *ngIf="seeAll">
        <app-notification-card *ngFor="let notifica of notifiche" 
        [notifica]="notifica"
        (markAsRead)="markAsRead($event)"
        ></app-notification-card>
        </ng-container>

    <span *ngIf="!seeAll && isThereAnyNotificationToRead"><i class="fa-regular fa-bell fa-shake"></i> Hai delle notifiche!  <i (click)="changeState()" class="fa-solid fa-chevron-down right" ></i></span>
    <i (click)="changeState()" class="fa-solid fa-chevron-up right" *ngIf="seeAll && isThereAnyNotificationToRead"></i>

</div>