.filterCategory{

    min-width: 200px;
}

.filtering{
    margin-bottom: 1em;
    padding: 1em;
    background: var(--card_secondary_background);
    border-radius: 20px;
}

.def_button{
    margin-top:0;
}