<app-feedback-info-point [messages]="messages">
</app-feedback-info-point>

<!-- FILTRI-->
<div class="filtering">
  <div class="card flex justify-content-center filterCategory inline">
    <p-multiSelect 
        [options]="categories" 
        [(ngModel)]="selectedCategories" 
        placeholder="Seleziona le categorie" 
        optionLabel="name" 
        display="chip" 
        [showClear]="true" />
</div>
<button type="submit" id="searchButton" (click)="searchData()" class="def_button inline"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>


<!--ELEMENTI-->
<div class="d-flex justify-content-start gap-2 flex-wrap lista_esercizi"
  *ngIf="(exerciseResponse$ | async) as exerciseResponse">
  <app-exercise-card *ngFor="let exercise of exerciseResponse.content; trackBy: trackByExerciseResponse"
    [exercise]="exercise" [storeView]="true" (import)="importExercise($event)"></app-exercise-card>
</div>


<!-- PAGINAZIONE-->
<div class="card flex justify-content-center paginatorContainer">
  <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="totalRecords" 
      [rowsPerPageOptions]="[10, 20, 30]" />
</div>
<div class="background" aria-hidden="true"></div> <!-- NOTE: Qualcuno potrebbe essere poco contento-->