.filterCategory{

    min-width: 200px;
}

.filtering{
    margin-bottom: 1em;
    padding: 1em;
    background: var(--card_secondary_background);
    border-radius: 20px;
    width: fit-content;
    margin: auto;
}

.def_button{
    margin-top:0;
}

#searchButton{
    margin-left: .3em;
}