.col-3 {
    width: auto!important;
    padding-bottom: 3em;
    flex-grow: 1;
}

.input_container_all{
    flex-wrap: wrap;
}

.col-9{
flex-grow: 1;}

.rounded-1{
    object-fit: contain;
    max-height: 200px;
}