<div class="allenamento_esercizio_card" > <!--NOTE: Qualcuno non sarebbe contento-->
    <img [src]="exerciseCover" alt="">
    <div class="exercise_info">
        <dl>
            <dt class="exerciseName">{{exercise.id}} + {{exercise.name}}</dt>
            <dd class="secondary category"> {{exercise.category}}</dd>
            <dd class="description">{{exercise.description}}</dd>
            <dd class="secondary serie"><i aria-label="Serie" class="fa-solid fa-repeat"></i> {{trainingExercise.serie}}</dd>
            <dd class="secondary ripetizioni"><i aria-label="Ripetizioni" class="fa-solid fa-hashtag"></i> {{trainingExercise.ripetizioni}}</dd>
            <dd class="secondary recupero"><i aria-label="Recupero" class="fa-solid fa-stopwatch"></i> {{trainingExercise.recupero}}</dd>
        </dl>
    </div>
    <div class="buttonHanlder">
        <button class="def_button" (click)="up()"><i class="fa-solid fa-arrow-up"></i></button>
        <button class="def_button" (click)="down()"><i class="fa-solid fa-arrow-down"></i></button>
        <button class="def_button" (click)="deleteExerciseFromTraining()"><i class="fa-solid fa-trash"></i></button>
    </div>
</div>