<section class="homeSection">
  <div class="homePicture">
    <img src="../../assets/images/home/homePhoto.png" class="fullCover">
  </div>
  <div class="homeInfo">
    <div class="container-fluid card register-container">
      <h3 class="display-5">Crea il tuo account</h3>
      <app-feedback-info-point [messages]="messages">
      </app-feedback-info-point>
      <form [formGroup]="registerForm">

        <p-floatLabel>
          <input pInputText id="nome" formControlName="firstname" [style]="{'width': '250px'}" />
          <label for="nome">Nome</label>
        </p-floatLabel>

        <p-floatLabel>
          <input pInputText id="cognome" formControlName="lastname" [style]="{'width': '250px'}" />
          <label for="cognome">Cognome</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-calendar formControlName="dateOfBirth" inputId="birth_date" [style]="{'width': '250px'}" />
          <label for="birth_date">Birth Date</label>
        </p-floatLabel>


        <p-floatLabel>
          <input pInputText id="email" formControlName="email" [style]="{'width': '250px'}" type="email" />
          <label for="email">Email</label>
        </p-floatLabel>


        <p-floatLabel>
          <input pInputText id="username" formControlName="username" [style]="{'width': '250px'}" />
          <label for="username">Username</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-password formControlName="password" [feedback]="false" />
          <label for="password">Password</label>
        </p-floatLabel>

      </form>
      <div class="flex">
        <div>
          <button (click)="register()" type="button" class="def_button">
            <em class="fas fa-sign-in-alt">&nbsp;Registrati</em>
          </button>
        </div>
        <div>
          Possiedi già un account?&nbsp;
          <button (click)="login()" type="button" class="btn btn-link">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</section>