<div class="container-fluid card login-container">
  <h3 class="text-center">Create an account</h3>
  <app-feedback-info-point [level]="'error'" *ngIf="messages.length > 0">
    <p class="p-0 m-0" *ngFor="let msg of messages">{{msg}}</p>
  </app-feedback-info-point>
  <form [formGroup]="registerForm">
    <div class="mb-3">
      <label for="firstname" class="form-label">Nome</label>
      <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="Nome">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Cognome</label>
      <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="Cognome">
    </div>
    <div class="mb-3">
      <label for="dateOfBirth" class="form-label">Data di nascita</label>
      <input formControlName="dateOfBirth" type="date" class="form-control" id="dateOfBirth" placeholder="Data di nascita">
    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="login" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Nome utente</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="Nome utente">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </form>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Crea un account</em>
    </button>
    <div>
      Possiedi già un account?&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
