
<section class="infoSection">
    <div id="headerInfoHome">
        <h3 class="inline left">Il tuo andamento</h3>
        <a [routerLink]="newProgressoLink" class="def_button inline right" id="addProgress" ><i class="fa-solid fa-bars-progress"></i> Nuovo progresso</a>    
    </div>
  <app-user-progress-card></app-user-progress-card>
</section>

<section class="infoSection">
    <h3 class="inline left">Agenda</h3>
    <div class="mainInfoContainer">
        <app-calendar [eventSettings]="eventSettings" [viewMode]="viewMode"></app-calendar>
    </div>
</section>