<app-feedback-info-point [messages]="messages">
</app-feedback-info-point>
<a [routerLink]="newTrainLink" class="def_button" *ngIf="isAddingPermitted"><i class="fa-solid fa-plus"></i>
    Aggiungi</a>
<div class="row" *ngIf="(trainingsResponse$ | async) as trainingResponse">
    <app-train-card *ngFor="let train of trainingResponse.content; trackBy: trackByAllenamentoResponse" [train]="train"
        (delete)="deleteTraining($event)" (edit)="editTraining($event)" (openDetail)="openDetails($event)">
    </app-train-card>
</div>

<div class="card flex justify-content-center paginatorContainer">
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="totalRecords" 
        [rowsPerPageOptions]="[10, 20, 30]" />
  </div>
<div class="background" aria-hidden="true"></div> <!-- NOTE: Qualcuno potrebbe essere poco contento-->