.logo{
    font-size: 1.1em;
    font-weight: 500;
    display: inline;
}

header,
header h1 {
    display: inline !important;
}

.container_page{
    width: 100%;
}

#headerMainContainer{
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    align-items: flex-end;
    justify-content: space-between;
}
