<section class="homeSection">
    <div class="homePicture">
            <img src="../../assets/images/home/homePhoto.png" class="fullCover">
    </div>
    <div class="homeInfo">
        <div class="links">
            <a [routerLink]="loginLink" routerLinkActive="active">Login</a>
            <a [routerLink]="registerLink" routerLinkActive="active">Registrati</a>
        </div>
        <div class="titles">
            <h1 class="display-1">FitnessHub</h1>
            <h3 class="display-1">Il tuo assistente di fiducia</h3>
            <p class="display-6">Crea e gestisci il tuo piano di allenamento, traccia i tuoi progressi e ricevi supporto dal tuo assistente personale AI.</p>
        </div>
    </div>
</section>