.messageContainer {
    width: fit-content;
    margin: auto;
    margin-top: var(--default_padding);
    margin-bottom: var(--default_padding);
    background: none;
    border: none;
}
:host ::ng-deep .p-messages {
    background: #fff;
}

:host {
    ::ng-deep .p-message {
        padding: 0;
        margin: 0;
        .p-message-wrapper {
            padding: .5em .5em;
            gap: 1em;
            margin: .5em
        }
    }    
}

@media print {
    :host {
      display: none;
    }
  }