.messageContainer {
    max-width: 400px;
    margin: auto;
    margin-top: var(--default_padding);
    margin-bottom: var(--default_padding);
}


:host {
    ::ng-deep .p-message {
        padding: 0;
        margin: 0;
        .p-message-wrapper {
            padding: .5em .5em;
            gap: 1em;
        }
    }    
}