<div class="card">
 
    <app-feedback-info-point [messages]="messages">
      </app-feedback-info-point>
    <p-table 
    responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
        [value]="lista_progressi"
        [paginator]="true"
        [lazy]="true"
        [rows]="5"
        styleClass="p-datatable tableStyle" 
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onLazyLoad)="findProgress($event)"
        [totalRecords]='totalPages? totalPages*size : 0'
        [tableStyle]="{ 'background-color': 'red' }"
    >
    <ng-template pTemplate="caption">
        Tabella progressi
    </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:17%">Data</th>
                <th style="width:8%">Peso</th>
                <th style="width:12%">Altezza</th>
                <th style="width:15%">M.grassa</th>
                <th style="width:40%">Note</th>
                <th style="width:8%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-progresso let-columns="columns">
            <tr>
                <td><span class="p-column-title">Data</span>{{ progresso.dataMisurazione }}</td>
                <td><span class="p-column-title">Peso</span>{{ progresso.pesoKg }}</td>
                <td><span class="p-column-title">Altezza</span>{{ progresso.altezzaCm }}</td>
                <td><span class="p-column-title">M.Grassa</span>{{ progresso.percentualeMassaGrassa }}</td>
                <td><span class="p-column-title">Note</span><p-inplace>
                    <ng-template pTemplate="display">
                        <span>{{ progresso.note?  progresso.note.substring(0,12) + " Vedi altro..." : 'Vuoto'}}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <span>
                            {{progresso.note}}
                        </span>
                    </ng-template>
                </p-inplace></td>
                <td> <i (click)="deleteProgress(progresso.id)" class="fa-solid fa-trash alert inline"></i> <i (click)="editProgress(progresso.id)" class="fa-solid fa-pen-to-square inline"></i></td>
            </tr>
        </ng-template>
    </p-table>

</div>

