<div class="card def_glass_card" style="width: 18rem;">
  <img class="card-img-top" [src]="exerciseCover" alt="">
  <div class="card-body">
    <h5 class="card-title">{{exercise.name}}</h5>
    <p class="card-text description">{{exercise.description}}</p>
    <p class="card-text category">{{exercise.category}}</p>
    <div class="d-flex gap-2 iteractionButtons" *ngIf="!isAnOrderedInput && isModifiable() && !storeViewActive">
      <i (click)="onEdit()" class="fa-solid fa-pen-to-square"></i>
      <i (click)="onDelete()" class="fa-solid fa-trash"></i>
    </div>
    <div *ngIf="storeViewActive"  class="d-flex gap-2 iteractionButtons">
      <i (click)="importExercise()" class="fa-solid fa-file-import"></i>
    </div>
    <button *ngIf="isAnOrderedInput" (click)="changeInputView()" class="def_button">
      <ng-container *ngIf="!isOpenInputView; else closeIcon">
        <i class="fa-solid fa-gears" ></i>
      </ng-container>
      <ng-template #closeIcon>
        <i class="fa-solid fa-xmark"></i>
      </ng-template>
      {{ isOpenInputView ? 'Chiudi' : 'Imposta' }}</button>
    <button *ngIf="isAnOrderedInput && isOpenInputView" class="def_button" (click)="addExerciseToTrain()"><i
        class="fa-solid fa-plus"></i> Aggiungi</button>
    <div class="col-12 formContainer" *ngIf="isAnOrderedInput && isOpenInputView">
      <form class="form-inline" [formGroup]="trainingExerciseForm">
        <!--Serie-->
        <label class="sr-only" [for]="'serieInput' + exercise.id">Serie</label>
        <input formControlName="serie" type="number" class="form-control mb-2 mr-sm-2" [id]="'serieInput' + exercise.id"
          placeholder="Serie" min="0" name="serie">
        <!--Ripetizioni o tempi-->
        <label class="sr-only" [for]="'ripetizioniInput' + exercise.id">Ripetizioni</label>
        <input formControlName="ripetizioni" type="number" class="form-control mb-2 mr-sm-2"
          [id]="'ripetizioniInput' + exercise.id" placeholder="Ripetizioni" min="0" name="ripetizioni">
        <!--Recupero-->
        <label class="sr-only" [for]="'recuperoInput' + exercise.id">Recupero</label>
        <input formControlName="recupero" type="number" class="form-control mb-2 mr-sm-2"
          [id]="'recuperoInput' + exercise.id" placeholder="Recupero" min="0" name="recupero">
      </form>
    </div>
  </div>
</div>
