<app-feedback-info-point [messages]="messages">
</app-feedback-info-point>
<!--POP UP per inserire l'allenamento-->
<div class="popUp" *ngIf="isPopUpOpen">
    <app-my-training-list-no-pagination
        (add_training)="add_training_top_period($event)"></app-my-training-list-no-pagination>
    <button class="backButton def_button" (click)="closeDialog()">Close</button>
</div>

<mat-horizontal-stepper linear #stepper [ngClass]="{'blur': isPopUpOpen}">
    <mat-step [stepControl]="periodForm">
        <ng-template matStepLabel>Dati periodo</ng-template>
        <section class="formSection">
            <h2>Crea il tuo periodo</h2>
            <p>Un periodo di allenamento è un arco temporale con uno scopo, suddiviso in cicli di durata costante.</p>
            <form [formGroup]="periodForm">
                <label for="nome_periodo" class="form-label">Nome</label>
                <input formControlName="nome_periodo" type="text" id="nome_periodo" class="form-control"
                    aria-describedby="nome_periodo_helper" name="nome_periodo">
                <small class="text-danger" *ngIf="!IsNomePeriodoInputValid">
                    Il nome del periodo è obbligatorio
                </small>
                <div>
                    <label for="obiettivo" class="form-label">Obiettivo</label>
                    <select class="form-select" aria-label="Seleziona l'obiettivo del periodo di allenamento"
                        formControlName="obiettivo" id="obiettivo">
                        <option *ngFor="let c of obbiettivi">{{ c }}</option>
                    </select>
                    <small class="text-danger" *ngIf="!IsObiettivoInputValid">
                        L'obiettivo del periodo è obbligatorio
                    </small>
                </div>

                <div>

                    <label for="durata_in_giorni" class="form-label">Durata in giorni del ciclo</label>
                    <input formControlName="durata_in_giorni" type="number" id="durata_in_giorni" class="form-control"
                        aria-describedby="durata_in_giorni_helper" name="durata_in_giorni" min="0" max="30">
                    <small class="text-danger" *ngIf="!IsDurataInputValid">
                        La durata del ciclo è obbligatoria e deve essere maggiore di 0
                    </small>
                </div>

                <div>

                    <label for="data_inizio" class="form-label">Data inizio</label><br>
                    <p-calendar formControlName="data_inizio" [inputStyle]="{maxHeight: '30px'}" />
                    <small class="text-danger block" *ngIf="!IsDataInizioInputValid">
                        La data di inizio è obbligatoria.
                    </small>
                </div>

                <div>
                    <label for="data_fine" class="form-label">Data fine</label><br>
                    <p-calendar formControlName="data_fine" [inputStyle]="{maxHeight: '30px', display: 'block'}" />
                </div>


                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        formControlName="is_attivo">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Attiva periodo</label>
                    <div *ngIf="nome_periodo_attivo!=''" class="warning">
                        <p class="warning">Hai gia un periodo attivo nominato <span
                                class="bold">{{nome_periodo_attivo}}</span>, non puoi averne più di uno attivo
                            contemporaneamente.</p>
                        <p>Se vuoi attivare questo, devi prima disattivare quello attuale.</p>
                        <button class="def_button disable" (click)="disable_active_period()"><i
                                class="fa-solid fa-skull"></i> Disattivalo</button>
                    </div>

                </div>
            </form>
        </section>
        <div>
            <button mat-button matStepperNext class="nextButton def_button">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Allenamenti</ng-template>
        <section id="sezioneCalenderio">
            <h2>Calendario</h2>
            <p>Qui puoi inserire gli allenamenti all'interno del periodo selezionato</p>
            <div class="flex">
                <app-period-day-card *ngFor="let _ of [].constructor(period_length); let i = index" [index]="i"
                    [allenamenti]="getAllenamentoPeriodoByDay(i)" (requestToAdd)="addNewTraining($event)"
                    (requestToRemove)="removeTraining($event)"></app-period-day-card>
            </div>
        </section>
        <div>
            <button mat-button matStepperPrevious class="backButton def_button">Back</button>
            <button mat-button matStepperNext class="nextButton def_button">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fine</ng-template>

        <ng-template matStepLabel>Done</ng-template>


        <section>
            <h3>Riepiologo</h3>
            <dl>
                <dt>Nome periodo:</dt>
                <dd>{{nome_periodo}}</dd>
                <dt>Obbiettivo:</dt>
                <dd>{{obiettivo}}</dd>
                <dt>Durata in giorni:</dt>
                <dd>{{period_length}}</dd>
            </dl>
            <h4>Lista allenamenti</h4>
            <ul>
                <li *ngFor="let allenamentoPeriodo of allenamenti_periodo">
                    <app-training-period-card
                        *ngIf="getAllenamentoById(allenamentoPeriodo.id_allenamento) as allenamento"
                        [allenamentoPeriodo]="allenamentoPeriodo"
                        [allenamento]="allenamento"></app-training-period-card>
                </li>
            </ul>
        </section>
        <div>
            <button mat-button matStepperPrevious class="backButton def_button">Back</button>
            <button mat-button (click)="submitPeriod()" class="nextButton def_button" type="submit"><i
                    class="fa-solid fa-floppy-disk"></i> Save</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>