.inptContainer{
    padding-bottom: 2em;
}
form> div:first-child{
    padding-top: 1em;
}
:host ::ng-deep .p-button{
    margin-right: 10px;
    border-radius: 10px;
}

:host ::ng-deep .p-fieldset-legend{
    background:none;
    border:none;
}

:host ::ng-deep .p-stepper.p-stepper-vertical .p-stepper-panel .p-stepper-content{
    padding-left: .2em;
}
:host ::ng-deep .p-fieldset-content{
    padding: 0;
}

input{
    width: -webkit-fill-available;
}
textarea{
    width: -webkit-fill-available;
}   
:host ::ng-deep .p-fieldset-legend-text {
    display: block;
}
  @media print {
    :host ::ng-deep .p-stepper-header ,:host ::ng-deep  p-button.p-element {
        display: none;
    }

    * {
        border: none;
    }
  }

  @media  screen and (max-width: 768px){
    :host ::ng-deep p-stepperseparator.p-stepper-separator {
        display: none;
    }
    :host ::ng-deep .p-stepper.p-stepper-vertical .p-stepper-panel .p-stepper-content{
        padding-left: .5em;
    }

    :host ::ng-deep .p-multiselect{
        width: -webkit-fill-available;
    }
  }