
    <app-feedback-info-point [messages]="messages">
    </app-feedback-info-point>
    <div class="card">
        <p-stepper orientation="vertical">
            <p-stepperPanel header="Informazioni" class="infoInputStepper">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                <p-fieldset legend="Dati per la generazione" >
                                    <p>
                                      Inserisci i dati necessari per la generazione della dieta.
                                    </p>
                                    <form [formGroup]="dietBaseForm">
                                        <div class="inptContainer">
                                            <p-floatLabel>
                                                <input formControlName="titolo"
                                                 pInputText id="username"  />
                                                <label for="titolo">Titolo</label>
                                            </p-floatLabel>
                                        </div>
    
                                        <div class="inptContainer">
                                            <p-floatLabel>
                                                <textarea 
                                                formControlName="descrizione"
                                                    id="descrizione" 
                                                    rows="5"  
                                                    pInputTextarea>
                                                </textarea>
                                                <label for="descrizione">Descrizione</label>
                                            </p-floatLabel>
                                        </div>
    
                                        <div class="inptContainer">
                                            <p-multiSelect 
                                            formControlName="categorie"
                                            [options]="menu_tipos" 
                                            optionLabel="label"
                                            placeholder="Seleziona i tipi di menu" 
                                            display="chip" 
                                            [showClear]="true" />
                                        </div>
                                        
                                    </form>
                                </p-fieldset>
                        </div>
                    </div>
                    <div class="flex py-4">
                        <p-button label="Genera" (onClick)="generateDiet()" />
    
                        <p-button label="Avanti" (onClick)="nextCallback.emit()" [disabled]="!diet_generated" />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Dieta">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            <app-piano-alimentare-view [pianoAlimentare]="generated_diet" [printView]="printView"></app-piano-alimentare-view>
    
                        </div>
                    </div>
                    <div class="flex py-4 gap-2">
                        <p-button label="Indietro" severity="secondary" (onClick)="prevCallback.emit()" />
                        <p-button label="Stampa" (onClick)="printPage()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>

